# Séries

In [48]:
import pandas as pd

In [49]:
idades = [30, 42, 90, 34]
idades

[30, 42, 90, 34]

In [50]:
media = sum(idades) / len(idades)

total = 0

for i in idades:
    total += (media - i)**2

variancia = total / (len(idades) - 1)
variancia

772.0

## Transformando a lista de válores em séries Pandas

In [51]:
serie_idades = pd.Series(idades)
serie_idades

0    30
1    42
2    90
3    34
dtype: int64

In [52]:
# Média
serie_idades.mean()

np.float64(49.0)

In [53]:
# Variância
serie_idades.var()

np.float64(772.0)

In [54]:
# Desvio Padrão
serie_idades.std()

np.float64(27.784887978899608)

In [55]:
# Mediana
serie_idades.median()

np.float64(38.0)

In [56]:
# 3o Quartil
serie_idades.quantile(0.75)

np.float64(54.0)

In [57]:
# Sumarização
serie_idades.describe()

count     4.000000
mean     49.000000
std      27.784888
min      30.000000
25%      33.000000
50%      38.000000
75%      54.000000
max      90.000000
dtype: float64

In [58]:
# Dimensão da série
serie_idades.shape

(4,)

In [59]:
serie_idades[1]

np.int64(42)

In [60]:
serie_idades.index

RangeIndex(start=0, stop=4, step=1)

In [61]:
# Alterando o index da série
serie_idades.index = ['d', 'a', 'v', 'i']
serie_idades['d']

np.int64(30)

In [62]:
# iloc pega a posição, independente do index
serie_idades.iloc[2]

np.int64(90)

In [63]:
# loc pega pelo index
serie_idades.loc["d"]

np.int64(30)

In [64]:
# Pode adiconar nome nas séries, como uma coluna de um excel
serie_idades.name = 'idades'
serie_idades

d    30
a    42
v    90
i    34
Name: idades, dtype: int64